
<%
languages = {
  rb: :ruby,
  js: :javascript,
  scala: :scala,
  java: :java,
  css: :css,
  sass: :sass,
  scss: :css,
  haml: :haml,
  html: :html,
  conf: :conf
}
groups.each do |k, todos| %>
  <h3><%= k %></h3>
  <table>
    <tbody>
      <% todos.each do |todo|
        extension = todo['filename'].split('.').last.to_sym
      %>
        <tr>
          <td><%= todo['committer'] %> <span class="details"><%= h todo['committer-mail'] %></span></td>
          <td><span class="details"><%= h todo['filename'] %>:</span><%= todo['line'] %></td>
          <td><%= CodeRay.scan(todo['code'], languages[extension] || extension ).div %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
